{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block conteudo %}
<div class="container">

    <div class="title-board">

        <div class="board-title">
            <img src="{% static 'imgs/box.svg' %}" alt="">
            <h1>Tarefas Semanais Criação</h1>
        </div>

    </div>

    <div class="calendar">

        <!-- ---------------------------------------------------------------- -->

        <!-- DIA 1 -->
        <div class="header">

            <div class="data-space"></div>

            <div class="colab">
                <div class="col">
                    <h1>Alana <span>{{ tasks.0 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>André <span>{{ tasks.1 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>Arnaldo <span>{{ tasks.2 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>Bruno <span>{{ tasks.3 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>Giovanna <span>{{ tasks.4 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>Luca <span>{{ tasks.5 | length }}</span></h1>
                </div>

                <div class="col">
                    <h1>Luis <span>{{ tasks.6 | length }}</span></h1>
                </div>

            </div>

        </div>


        <div class="days">
            <div class="calendar-data">
                <h1>{{ dias.0 | date:"l"}}</h1>
                <h3>{{ dias.0 | date:"d M Y"}}</h3>
                <p>Entregas para hoje:</p>

                <h1 class="prazo"> {{ dy.0|length}} </h1>
            </div>


            <div class="colab">

                <!-- Alana -->
                <div class="col">
                    {% for task in tasks.0 %}

                    {% if task.desired_date == dias.0 %}
                    <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                            <h1>{{ task.id }}</h1>
                            <h2>{{ task.title }}</h2>
                            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
                            <p class="blok"> {% for aloc in task.assignments %}
                                {% if aloc.is_working_on == True %}
                                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                                {% else %}
                                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                                {% endif %}
                                {{ aloc.assignee_name }} <br>
                                {% endfor %}
                            </p>
                        </a>
                    </div>

                    {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
                        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                            <h1>{{ task.id }}</h1>
                            <h2>{{ task.title }}</h2>
                            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                            <p class="blok"> {% for aloc in task.assignments %}
                                {% if aloc.is_working_on == True %}
                                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                                {% else %}
                                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                                {% endif %}
                                {{ aloc.assignee_name }} <br>
                                {% endfor %}
                            </p>
                        </a>
                </div>

                {% endif %}
                {% endfor %}
                <!-- Fecha Alana -->
            </div>


            <!-- André -->
            <div class="col">
                {% for task in tasks.1 %}

                {% if task.desired_date == dias.0 %}
                <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                    <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                        <h1>{{ task.id }}</h1>
                        <h2>{{ task.title }}</h2>
                        <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
                        <p class="blok"> {% for aloc in task.assignments %}
                            {% if aloc.is_working_on == True %}
                            <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                            {% else %}
                            <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                            {% endif %}
                            {{ aloc.assignee_name }} <br>
                            {% endfor %}
                        </p>
                    </a>
                </div>

                {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
                    <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                        <h1>{{ task.id }}</h1>
                        <h2>{{ task.title }}</h2>
                        <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                        <p class="blok"> {% for aloc in task.assignments %}
                            {% if aloc.is_working_on == True %}
                            <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                            {% else %}
                            <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                            {% endif %}
                            {{ aloc.assignee_name }} <br>
                            {% endfor %}
                        </p>
                    </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha André -->
        </div>

        <!-- Arna -->
        <div class="col">
            {% for task in tasks.2 %}

            {% if task.desired_date == dias.0 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
        </div>

        {% endif %}
        {% endfor %}
        <!-- Fecha Arna -->
    </div>


    <!-- Bruno -->
    <div class="col">
        {% for task in tasks.3 %}

        {% if task.desired_date == dias.0 %}
        <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
            <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                <h1>{{ task.id }}</h1>
                <h2>{{ task.title }}</h2>
                <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
                <p class="blok"> {% for aloc in task.assignments %}
                    {% if aloc.is_working_on == True %}
                    <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                    {% else %}
                    <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                    {% endif %}
                    {{ aloc.assignee_name }} <br>
                    {% endfor %}
                </p>
            </a>
        </div>

        {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
            <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                <h1>{{ task.id }}</h1>
                <h2>{{ task.title }}</h2>
                <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                <p class="blok"> {% for aloc in task.assignments %}
                    {% if aloc.is_working_on == True %}
                    <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                    {% else %}
                    <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                    {% endif %}
                    {{ aloc.assignee_name }} <br>
                    {% endfor %}
                </p>
            </a>
    </div>

    {% endif %}
    {% endfor %}
    <!-- Fecha Bruno -->
</div>


<!-- Giovanna -->
<div class="col">
    {% for task in tasks.4 %}

    {% if task.desired_date == dias.0 %}
    <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
    </div>

    {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
</div>

{% endif %}
{% endfor %}
<!-- Fecha Giovanna -->
</div>


<!-- Luca -->
<div class="col">
    {% for task in tasks.5 %}

    {% if task.desired_date == dias.0 %}
    <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
    </div>

    {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
</div>

{% endif %}
{% endfor %}
<!-- Fecha Luca -->
</div>


<!-- Luis -->
<div class="col">
    {% for task in tasks.6 %}

    {% if task.desired_date == dias.0 %}
    <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>
            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
    </div>

    {% elif task.desired_date < dias.0 %} <div class="colab-card atraso">
        <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

            <h1>{{ task.id }}</h1>
            <h2>{{ task.title }}</h2>
            <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

            <p class="blok"> {% for aloc in task.assignments %}
                {% if aloc.is_working_on == True %}
                <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                {% else %}
                <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                {% endif %}
                {{ aloc.assignee_name }} <br>
                {% endfor %}
            </p>
        </a>
</div>

{% endif %}
{% endfor %}
<!-- Fecha Luis -->
</div>



<!-- fecha colab -->
</div>


<!-- fecha days -->
</div>


<!-- ---------------------------------------------------------------- -->


<!-- DIA 2 -->
<div class="header">

    <div class="data-space"></div>

    <div class="colab">
        <div class="col">
            <h1>Alana <span>{{ tasks.0 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>André <span>{{ tasks.1 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Arnaldo <span>{{ tasks.2 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Bruno <span>{{ tasks.3 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Giovanna <span>{{ tasks.4 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luca <span>{{ tasks.5 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luis <span>{{ tasks.6 | length }}</span></h1>
        </div>

    </div>

</div>

<div class="days">
    <div class="calendar-data">
        <h1>{{ dias.1 | date:"l"}}</h1>
        <h3>{{ dias.1 | date:"d M Y"}}</h3>
        <p>Entregas para hoje:</p>

        <h1 class="prazo"> {{ dt.1|length}} </h1>
    </div>

    <div class="colab">

        <!-- Alana -->
        <div class="col">
            {% for task in tasks.0 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Alana -->
        </div>

        <!-- André -->
        <div class="col">
            {% for task in tasks.1 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha André -->
        </div>

        <!-- Arna -->
        <div class="col">
            {% for task in tasks.2 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Arna -->
        </div>


        <!-- Bruno -->
        <div class="col">
            {% for task in tasks.3 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{br.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Bruno -->
        </div>

        <!-- Giovanna -->
        <div class="col">
            {% for task in tasks.4 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Giovana -->
        </div>

        <!-- Luca -->
        <div class="col">
            {% for task in tasks.5 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luca -->
        </div>

        <!-- Luis -->
        <div class="col">
            {% for task in tasks.6 %}

            {% if task.desired_date == dias.1 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luis -->
        </div>



        <!-- fecha colab -->
    </div>

    <!-- fecha days -->
</div>


<!-- ---------------------------------------------------------------- -->


<!-- DIA 3 -->
<div class="header">

    <div class="data-space"></div>

    <div class="colab">
        <div class="col">
            <h1>Alana <span>{{ tasks.0 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>André <span>{{ tasks.1 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Arnaldo <span>{{ tasks.2 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Bruno <span>{{ tasks.3 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Giovanna <span>{{ tasks.4 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luca <span>{{ tasks.5 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luis <span>{{ tasks.6 | length }}</span></h1>
        </div>


    </div>

</div>

<div class="days">
    <div class="calendar-data">
        <h1>{{ dias.2 | date:"l"}}</h1>
        <h3>{{ dias.2 | date:"d M Y"}}</h3>
        <p>Entregas para hoje:</p>

        <h1 class="prazo"> {{ dt.2|length}} </h1>
    </div>

    <div class="colab">

        <!-- Alana -->
        <div class="col">
            {% for task in tasks.0 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Alana -->
        </div>

        <!-- André -->
        <div class="col">
            {% for task in tasks.1 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha André -->
        </div>

        <!-- Arna -->
        <div class="col">
            {% for task in tasks.2 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Arna -->
        </div>


        <!-- Bruno -->
        <div class="col">
            {% for task in tasks.3 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{br.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Bruno -->
        </div>

        <!-- Giovanna -->
        <div class="col">
            {% for task in tasks.4 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Giovana -->
        </div>

        <!-- Luca -->
        <div class="col">
            {% for task in tasks.5 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luca -->
        </div>

        <!-- Luis -->
        <div class="col">
            {% for task in tasks.6 %}

            {% if task.desired_date == dias.2 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luis -->
        </div>



        <!-- fecha colab -->
    </div>

    <!-- fecha days -->
</div>


<!-- ---------------------------------------------------------------- -->



<!-- DIA 4 -->
<div class="header">

    <div class="data-space"></div>

    <div class="colab">
        <div class="col">
            <h1>Alana <span>{{ tasks.0 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>André <span>{{ tasks.1 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Arnaldo <span>{{ tasks.2 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Bruno <span>{{ tasks.3 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Giovanna <span>{{ tasks.4 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luca <span>{{ tasks.5 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luis <span>{{ tasks.6 | length }}</span></h1>
        </div>


    </div>

</div>

<div class="days">
    <div class="calendar-data">
        <h1>{{ dias.3 | date:"l"}}</h1>
        <h3>{{ dias.3 | date:"d M Y"}}</h3>
        <p>Entregas para hoje:</p>

        <h1 class="prazo"> {{ dt.3|length}} </h1>
    </div>

    <div class="colab">

        <!-- Alana -->
        <div class="col">
            {% for task in tasks.0 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Alana -->
        </div>

        <!-- André -->
        <div class="col">
            {% for task in tasks.1 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha André -->
        </div>

        <!-- Arna -->
        <div class="col">
            {% for task in tasks.2 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Arna -->
        </div>

        <!-- Bruno -->
        <div class="col">
            {% for task in tasks.3 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{br.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Bruno -->
        </div>

        <!-- Giovanna -->
        <div class="col">
            {% for task in tasks.4 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Giovana -->
        </div>

        <!-- Luca -->
        <div class="col">
            {% for task in tasks.5 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luca -->
        </div>

        <!-- Luis -->
        <div class="col">
            {% for task in tasks.6 %}

            {% if task.desired_date == dias.3 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luis -->
        </div>



        <!-- fecha colab -->
    </div>

    <!-- fecha days -->
</div>


<!-- ---------------------------------------------------------------- -->


<!-- DIA 5 -->
<div class="header">

    <div class="data-space"></div>

    <div class="colab">
        <div class="col">
            <h1>Alana <span>{{ tasks.0 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>André <span>{{ tasks.1 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Arnaldo <span>{{ tasks.2 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Bruno <span>{{ tasks.3 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Giovanna <span>{{ tasks.4 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luca <span>{{ tasks.5 | length }}</span></h1>
        </div>

        <div class="col">
            <h1>Luis <span>{{ tasks.6 | length }}</span></h1>
        </div>


    </div>

</div>

<div class="days">
    <div class="calendar-data">
        <h1>{{ dias.4 | date:"l"}}</h1>
        <h3>{{ dias.4 | date:"d M Y"}}</h3>
        <p>Entregas para hoje:</p>

        <h1 class="prazo"> {{ dt.4|length}} </h1>
    </div>

    <div class="colab">

        <!-- Alana -->
        <div class="col">
            {% for task in tasks.0 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Alana -->
        </div>

        <!-- André -->
        <div class="col">
            {% for task in tasks.1 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha André -->
        </div>

        <!-- Arna -->
        <div class="col">
            {% for task in tasks.2 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Arna -->
        </div>

        <!-- Bruno -->
        <div class="col">
            {% for task in tasks.3 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{br.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Bruno -->
        </div>

        <!-- Giovanna -->
        <div class="col">
            {% for task in tasks.4 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Giovana -->
        </div>

        <!-- Luca -->
        <div class="col">
            {% for task in tasks.5 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luca -->
        </div>

        <!-- Luis -->
        <div class="col">
            {% for task in tasks.6 %}

            {% if task.desired_date == dias.4 %}
            <div class="colab-card {% if task.board_stage_name == 'Revisão' %} rev {% endif %}">
                <a href="https://runrun.it/pt-BR/tasks/{{task.id}}" target="_blank">

                    <h1>{{ task.id }}</h1>
                    <h2>{{ task.title }}</h2>
                    <p>Prazo: <span>{{ task.desired_date | date:"d/m/y" }}</span></p>

                    <p class="blok"> {% for aloc in task.assignments %}
                        {% if aloc.is_working_on == True %}
                        <img src="{% static 'imgs/lit_on.svg' %}" alt="">
                        {% else %}
                        <img src="{% static 'imgs/lit_off.svg' %}" alt="">
                        {% endif %}
                        {{ aloc.assignee_name }} <br>
                        {% endfor %}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Fecha Luis -->
        </div>




        <!-- fecha colab -->
    </div>

    <!-- fecha days -->
</div>


<!-- ---------------------------------------------------------------- -->



<!-- fecha calendar -->
</div>

<!-- fecha container -->
</div>

{% endblock conteudo %}