{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div class="container">

    <div class="title-board">

        <div class="board-title">
            <img src="{% static 'imgs/box.svg' %}" alt="">
            <h1>Pauta Criação</h1>
        </div>

    </div>


    <div class="formula">
        <div class="formbox">

            {% if user.is_authenticated %}

            <h1>Escolha a visualização:</h1>
            <div class="menu-login">
                <a class="navbtn btn-form" href="{% url 'users' %}">colaboradores</a>
                <a class="navbtn btn-form" href="{% url 'calendario' %}">calendar</a>
                <a class="navbtn btn-form" href="{% url 'backlog' %}">backlog</a>
            </div>


            {% else %}
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <h3>{{ login_form.username.label }}</h3>
                <p>{{ login_form.username }}</p>

                <h3>{{ login_form.password.label }}</h3>
                <p>{{ login_form.password }}</p>


                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary">
                </div>
            </form>

        </div>

    </div>
    {% endif %}

</div>

{% endblock conteudo %}